*{box-sizing: border-box;}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', 'dotum', 'Verdana', sans-serif;
}
a{text-decoration: none; color: #333}
.inner{
    width: 1200px;
    height: 100%; /* 높이값은 부모한테 상속 */
   /*  background: rgba(0,0,0,.3); */
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 158px;
}
#header .header_until{
    width: 100%;
    height: 28px;
    background: #006ddd;
}
#header .header_until .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header_until .inner .header_util_left{}
#header .header_until .inner .header_util_left p{
    color: #fff;
    font-size: 12px;
}
#header .header_until .inner .header_util_left p img{
    padding-right: 10px;
    vertical-align: middle;
}
#header .header_until .inner .header_util_right .header_util_nav{
    display: flex;
    gap: 20px;
}
#header .header_until .inner .header_util_right .header_util_nav li a{
    color: #fff;
    font-size: 12px;
    display: block;
    position: relative;
}
#header .header_until .inner .header_util_right .header_util_nav li:not(:last-child) a:after{
    content:"";
    position: absolute;
    width: 1px;
    height: 12px;
    background: #fff;
    top: 0;
    right:-10px;
}






#header .header_bottom{
    width: 100%;
    height: 130px;

}
#header .header_bottom .inner{}
#header .header_bottom .inner .header_logo_search{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    display:flex;
    justify-content: space-between;
}
#header .header_bottom .inner .header_logo_search .logo_search{
    display: flex;
    align-items: center;
}

.header_logo_search .logo_search .header_search{
    width: 208px;
    height: 36px;
    border: 3px solid #006ddd;
    margin-left: 40px;
    background: #fff;
    position: relative;
}
.header_logo_search .logo_search .header_search form{display: flex; }
.header_logo_search .logo_search .header_search form label {display: none;}
.header_logo_search .logo_search .header_search form  input {}
.header_logo_search .logo_search .header_search form  input[type="search"] {
    border: none;
    width: 173px;
    height: 30px;
}
.header_logo_search .logo_search .header_search form  input[type="search"]:focus {
   outline: none;
}
.header_logo_search .logo_search .header_search form  input[type="button"] {
    width: 35px;
    height: 32px;
    border: none;
    background: #006ddd url('../img/icon_search.png') no-repeat center;
    position: absolute;
    top: -1px;
    right: -3px;
    cursor: pointer;
    text-indent: -9999999px;
}
.header_logo_search .logo_img{}
.header_logo_search .logo_img img{ padding-top: 10px;}

.trending{
    display: flex;
}
.trending h3{
    margin-left: 10px;
    font-size: 11px;
    color: #fff;
    background: #142f18;
    padding: 3px;
    position: relative;
    top: -9px;
}
.trending h3:after{
    content: "";
    position: absolute;
    top: 0px;
    right: -5px;
    border-top: 5px solid #142f18;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.trending ul{
     display: flex;
     margin-left: 10px;
     position: relative;
     top: -9px;
}
.trending ul li{}
.trending ul li a{font-size: 11px;
    padding: 0 10px;
    position: relative;
}
.trending ul li:not(:last-child) a:after{
    content:"";
    width: 1px;
    height: 10px;
    background: #515151;
    position: absolute;
    top: 3px;
    right: 0;
}


#nav{
    width: 100%;
    height: 50px;
}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 20%;
    text-align: center;
   
}
#nav>ul>li:hover{
    border-bottom: 2px solid #0655a3;
}

#nav>ul>li>a{
    font-size: 17.5px;
    font-weight: 800;
    display: block;
    padding: 15px 0;
    position: relative;
}
#nav>ul>li:not(:last-child)>a:after{
    content:"";
    width: 1px;
    height: 30px;
    background: #919191;
    top: 10px;
    right: 0;
    position: absolute;
    transform: rotate(40deg);
}
#nav>ul>li:hover>a{
    color: #0655a3;
}
#nav>ul>li>.width100_bg{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 300px;
    top: 158px;
    left: 0;
    background: rgb(255 252 252);
}
#nav>ul>li:hover>.width100_bg{
    display: block;
}
#nav>ul>li>.width100_bg>.inner{
    display: flex;
    justify-content: space-between;
}
#nav>ul>li>.width100_bg .leftTitle{
    padding-top: 20px;
    width: 20%;
   
}
#nav>ul>li:first-child>.width100_bg .leftTitle{
     background: url(../img/sub1.png) no-repeat bottom center;
}
#nav>ul>li:nth-child(2)>.width100_bg .leftTitle{
     background: url(../img/sub2.png) no-repeat bottom center;
}
#nav>ul>li:nth-child(3)>.width100_bg .leftTitle{
     background: url(../img/sub3.png) no-repeat bottom center;
}
#nav>ul>li:nth-child(4)>.width100_bg .leftTitle{
     background: url(../img/sub4.png) no-repeat bottom center;
}
#nav>ul>li:nth-child(5)>.width100_bg .leftTitle{
     background: url(../img/sub5.png) no-repeat bottom center;
}
#nav>ul>li>.width100_bg .leftTitle h2{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}
#nav>ul>li>.width100_bg .subListWrap{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    

}
#nav>ul>li>.width100_bg .subListWrap>ul{
    width: 33.333%;
    text-align: left;
}
#nav>ul>li>.width100_bg .subListWrap>ul>li{
    line-height: 200%;
    padding-left: 10px;
    background: url(../img/bul_lnb_sub.gif) no-repeat left center;

}
#nav>ul>li>.width100_bg .subListWrap>ul>li>a{
    font-size: 14px;
    color: #282828;
}
#nav>ul>li>.width100_bg .subListWrap>ul>li>a:hover{
    color: #041cb8;
    text-decoration: underline;
}
#nav>ul>li>.width100_bg .rightInfo{
    width: 25%;
    height: 100%;
}
#nav>ul>li>.width100_bg .rightInfo>ul{
    height: 100%;
}
#nav>ul>li>.width100_bg .rightInfo>ul>li{
    height: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}
#nav>ul>li:first-child>.width100_bg .rightInfo>ul>li:first-child{
    background:#e9f3fd url(../img/bg_footer_link_03.png) no-repeat right 20px center;
}
#nav>ul>li:first-child>.width100_bg .rightInfo>ul>li:last-child{
    background:#e9f3fd url(../img/bg_footer_link_04.png) no-repeat right 20px center;
}
#nav>ul>li:nth-child(2)>.width100_bg .rightInfo>ul>li:first-child{
    background:#e9f3fd url(../img/bg_footer_link_05.png) no-repeat right 20px center;
}
#nav>ul>li:nth-child(3)>.width100_bg .rightInfo>ul>li:first-child{
    background:#e9f3fd url(../img/bg_footer_link_09.png) no-repeat right 20px center;
}
#nav>ul>li:nth-child(3)>.width100_bg .rightInfo>ul>li:last-child{
    background:#e9f3fd url(../img/bg_footer_link_10.png) no-repeat right 20px center;
}
#nav>ul>li:nth-child(5)>.width100_bg .rightInfo>ul>li:first-child{
    background:#e9f3fd url(../img/bg_footer_link_11.png) no-repeat right 20px center;
}
#nav>ul>li:nth-child(5)>.width100_bg .rightInfo>ul>li:last-child{
    background:#e9f3fd url(../img/bg_footer_link_12.png) no-repeat right 20px center;
}
#nav>ul>li>.width100_bg .rightInfo>ul>li>a{
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
}
#nav>ul>li>.width100_bg .rightInfo>ul>li>a:hover{
    text-decoration: underline;
    color: #555;
}

#header .header_bottom{
    border-bottom: 1px solid #006ddd;
}


/* section1 main_box_visual*/
.main_box_visual{
    width: 100%;
    height: 420px;
    padding: 20px 0;
   /*  background: blueviolet; */ /* 임의로 준 배경으로, 작업마지막에 없애준다 */
    background: #f5f7fc;
}
.main_box_visual .inner{
    position: relative;
}

.sliderWrap{}
.sliderWrap ul{
    position: relative;
    overflow: hidden;
    width: 780px;
    height: 380px;
}
.sliderWrap ul li{
    position: absolute;
    display: none;
}
.sliderWrap ul .active{
    display: block;
}
.tabWrap{
    width: 330px;
    height: 270px;
    background: url(../img/bg_news_02.png) no-repeat;
    top: 25px;
    right: 116px;
    position: absolute;
    padding: 20px;
}
.tabWrap .tapContents{
    width: 100%;
    height:146px; 
}
.moreWrap{
    position: absolute;
    top: 110px;
    right: 0;
}
.tabWrap .tapContents ul{
    position: relative;

}
.tabWrap .tapContents ul li{
    position: absolute;
    display: none;
}
.tabWrap .tapContents ul li.active{
     display: block;
}
.tabWrap .tapContents ul li a{
    color: #fff;
}
.tabWrap .tapContents ul li a h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    
}
.tabWrap .tapContents ul li a p{
    font-size: 14px;
    line-height: 1.5;
}

.tabWrap .tabs ul{margin-top: 25px;}
.tabWrap .tabs ul li{
    line-height: 1.3;
}
.tabWrap .tabs ul li a{
    font-size: 14px;
    letter-spacing: -1px; /* 자간 간격 */
    color: #fff;
    
}
.tabWrap .tabs ul li .active{text-decoration: underline;}
.controlsWrap{
    width:183px;
    height: 60px;
    position: absolute;
    bottom: 25px;
    right: 263px;
    display: flex;
    gap:1px;
}
.controlsWrap button{
    border: none;
    width: 60px;
    height: 60px;
    overflow: hidden;
    
}

.controlsWrap .prev{
   background: url(../img/btn_news_control_off.png) 0 0;
}
.controlsWrap .prev:hover{
   background: url(../img/btn_news_control_on.png) 0 0;
}
.controlsWrap .play{
   background: url(../img/btn_news_control_off.png) -60px 0;
}
.controlsWrap .play:hover{
   background: url(../img/btn_news_control_on.png) -60px 0;
}
.controlsWrap .stop{
   /*  overflow: hidden;
    background: url(../img/btn_news_control_off.png) -120px 0; */
}
.controlsWrap .next{
    background: url(../img/btn_news_control_off.png) -180px 0;
}
.controlsWrap .next:hover{
    background: url(../img/btn_news_control_on.png) -180px 0;
}




.bn_wrap_rolling{
    width: 100%;
    height: 115px;
    background: #ecf2f9;
    padding-top: 20px;
}
.bn_wrap_rolling ul{
    display: flex;
    justify-content: center;
}
.bn_wrap_rolling ul li{
    text-align: center;
}
.bn_wrap_rolling ul li a{
    display: block;
    width: 110px;
    height: 60px;
    overflow: hidden;
    background: url(../img/250901_btn_rolling_off.png) left center no-repeat;
}
.bn_wrap_rolling ul li:hover a{
    background: url(../img/250901_btn_rolling_on.png) left center no-repeat;
}
.bn_wrap_rolling ul li:hover a~span{  
    color: blue;
}

.bn_wrap_rolling ul li:nth-child(1) a{
    background-position: -950px 0;
}
.bn_wrap_rolling ul li:nth-child(2) a{
    background-position: 0 0;
}
.bn_wrap_rolling ul li:nth-child(3) a{
    background-position: -110px 0;
}
.bn_wrap_rolling ul li:nth-child(4) a{
    background-position: -1080px 0;
}
.bn_wrap_rolling ul li:nth-child(5) a{
    background-position: -240px 5px;
}
.bn_wrap_rolling ul li:nth-child(6) a{
    background-position: -360px 0;
}
.bn_wrap_rolling ul li:nth-child(7) a{
    background-position: -480px 0;
}
.bn_wrap_rolling ul li:nth-child(8) a{
    background-position: -600px 0;
}
.bn_wrap_rolling ul li:nth-child(9) a{
    background-position: -720px 0;
}
.bn_wrap_rolling ul li:nth-child(10) a{
    background-position: -1200px 0;
}
.bn_wrap_rolling ul li span{
    font-size: 13px;
    color: #595959;
    font-weight: 600;
}







.box_wrap_latest{
    width: 100%;
    padding: 20px 0;
    /* background: #f0f; */
    height: 325px;
    position: relative;
    top: -30px;
}



.box_wrap_latest .inner{
    display: flex;
    justify-content: space-between;
}
.box_wrap_latest .inner .box_container{
    border: 5px solid #c4c4c4;
    position: relative;
}
.box_wrap_latest .inner .box_container article{
    padding: 15px;

}
.plusBox{
    position: absolute;
    right: 15px;
    top: 15px;
    border: 1px solid #ccc;
    padding: 5px;
}
.box_wrap_latest .inner .box_container article .tap_news01{}
.box_wrap_latest .inner .box_container article h3{
    margin-bottom: 30px;
    position: relative;
}
.box_wrap_latest .inner .box_container article h3 a{
    font-size: 14px;
    color: #5f5f5f;
    font-weight: bold;
    padding: 5px 13px;
    
}
.box_wrap_latest .inner .box_container article h3 .bg_green{
    background: #15989a;
    color: #fff
}
.box_wrap_latest .inner .box_container article h3 .icon_green{
    display: block;
    width: 24px;
    height: 12px;
    background: url(../img/btn_latest_green.gif) no-repeat;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.box_wrap_latest .inner .box_container article .tap_news02{
    display: block;
    position: absolute;
    top: 13px;
    left: 100px;
}
.box_wrap_latest .inner .box_container article .box_desk{}

.box_wrap_latest .inner .box_container article .box_desk .box_news{}
.box_wrap_latest .inner .box_container article .box_desk .box_news h4{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: -5px;
}
.box_wrap_latest .inner .box_container article .box_desk .box_news .date{
    font-size: 14px;
    color: #292929;
    margin-bottom: 10px;
}
.box_wrap_latest .inner .box_container article .box_desk .box_news .summary{
    font-size: 14px;
    color: #707070;
    line-height: 1.2;
}

.box_wrap_latest .inner .box_container1{
    width: 420px;
    height: 240px;
    /* background: red; */  /* 임의로 준 배경색으로, 마지막에지워준다 */
    background: #fff;
}
.box_wrap_latest .inner .box_container2{
    width: 430px;
    height: 240px;
    background: lightblue;
}

.box_wrap_latest .inner .popupImgs{
    width: 300px;
    height: 240px;
    background: lightgreen
}
.list_news{
    background: url(../img/bg_news_green02.gif) no-repeat;
    height: 78px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.list_news ul{
    padding: 15px 15px 15px 35px;
}
.list_news ul li{
    list-style-type: square; /* 글앞에 점 */
    color: #fff;
    line-height: 120%;
   
}
.list_news ul li h5{}
.list_news ul li h5 a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.hidden{display: none;}







.box_wrap_cardnews2{
    width: 100%;
    height: 296px;
    background: #006ddd;
}
.bn_wrap_banners{
    width: 100%;
    height: 225px;
    background: #72a9e8;
}
.box_wrap_quick{
    width: 100%;
    height: 255px;
    background: #bce24b;
}
.box_wrap_koba{
    width: 100%;
    height: 350px;
    background: #f60;
}
.bn_wrap_rolling03{
     width: 100%;
    height: 80px;
    background: rgb(69, 199, 250);
}
#footer{
    width: 100%;
    height:224px;
    background-color: #333;

}